.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 620px) {
  .avatar {
    width: 110px;
    height: 110px;
  }
}
