.aboutMe {
  border-left: 3px solid #000;
  padding-left: 18px;
  position: relative;
}

.heading {
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.paragraph {
  margin: 12px 0 0;
}

@media screen and (max-width: 620px) {
  .aboutMe {
    padding-left: 8px;
  }
  .paragraph {
    margin: 6px 0 0;
  }
}
