.aboutMe {
  border-left: 3px solid #000;
  padding-left: 18px;
  position: relative;
}

.heading {
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.paragraph {
  margin: 12px 0 0;
}

.cvContainer {
  margin-top: 24px;
}

.cv {
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #000;
}

@media screen and (max-width: 620px) {
  .aboutMe {
    padding-left: 8px;
  }
  .paragraph {
    margin: 6px 0 0;
  }
}
