.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .link {
  color: #000;
  text-decoration: unset;
} */

.linkContainer {
  display: flex;
  gap: 18px;
}

.title[data-color='pet-care'] {
  color: var(--color-details-petcare);
}
.title[data-color='pet-store'] {
  color: var(--color-details-petcare);
}
.title[data-color='real-estate'] {
  color: var(--color-details-petcare);
}
