.aboutProject {
  border-left: 3px solid #000;
  padding-left: 18px;
  margin-top: 60px;
}

.technologies {
  margin-top: 60px;
}

.features {
  margin-top: 60px;
}

.experience {
  border-left: 3px solid #000;
  padding-left: 18px;
  margin-top: 60px;
}

.heading {
  margin-bottom: 12px;
}

.technologiesList {
  display: flex;
  gap: 6px;
  padding: 0;
  align-items: center;
  list-style: inside;
}

.listItem {
  margin-left: 14px;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 42px;
}

.featuresContainer:first-of-type {
  margin: 0;
}

/* .featuresSubheading {
  margin-top: 42px;
} */

.featuresParagraph {
  margin-left: 18px;
}

.carouselContainer {
  display: flex;
  justify-content: center;
}

.featuresList {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
