.contactsPage {
  padding: 20px 80px;
}

.heading {
  margin: 60px 0;
}

.link {
  display: flex;
  gap: 8px;
}

.emailContainer {
  display: flex;
}

.email {
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.cv {
  margin-top: 40px;
  display: inline-flex;
  gap: 8px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000;
  align-items: center;
}

.contacts {
  max-width: 400px;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 620px) {
  .contactsPage {
    padding: 12px;
  }

  .heading {
    margin: 24px 0;
  }

  .link {
    align-items: center;
  }

  .contacts {
    flex-direction: column;
  }
}
