.footer {
  border-radius: 20px 20px 0 0;
  margin-top: 60px;
  background-color: var(--color-surface);
  padding: 28px 160px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-secondary);
}

.sectionContacts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  border-left: 1px solid var(--text-color-secondary);
  padding-left: 18px;
}

.sectionSlogan {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-secondary);
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 32px;
    padding: 24px 60px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    margin-top: 24px;
    padding: 24px;
  }
  .sectionContacts {
    gap: 6px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    margin-top: 18px;
  }
  .sectionContacts {
    border-left: unset;
    padding-left: 0;
  }
  .link {
    gap: unset;
  }
}
