html {
  font-family: 'Google Sans Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 100,
    'GRAD' 0,
    'ROND' 0;

  --text-color-primary: #000;
  --text-color-secondary: #667479;

  --color-details-petcare: #6d4886;
  --color-details-petstore: #003459;
  --color-details-realestate: #d9a989;

  /* --color-surface: #5f181814; */
  --color-surface: #4c186614;

  --color-accent: #a0b3bb;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

b {
  font-weight: 500;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
